html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Gilda Display", serif;
  cursor: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Remove browser scrollbar
::-webkit-scrollbar {
  display: none;
}
// Variables
$primary-color: #0000e7;
// Style
html {
  scroll-behavior: smooth;
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  top: -25px;
  left: -25px;
  pointer-events: none;
  z-index: 999999;
  &.cursor--light {
    border: 2px solid black;
  }
}
// Theme
.theme__toggle {
  position: fixed;
  z-index: 99999;
  top: 4%;
  left: 2%;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  box-sizing: border-box;
  height: 30px;
  width: 65px;
  display: flex;
  gap: 2px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  opacity: 0;
  transition: 3s;
  cursor: pointer;
  &.theme__toggle--active {
    left: 2px;
  }
  .moon__icon {
    font-size: 1.3em;
    transform: rotate(-240deg);
  }
  .sun__icon {
    text-align: center;
    color: #f39c12;
    font-size: 1.7em;
    transform: translateY(2px);
  }
  .ball__icon {
    height: 27px;
    width: 27px;
    background-color: rgb(255, 255, 255);
    left: 3px;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s;
    &.ball__icon--active {
      left: 53%;
    }
  }
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  .main__top-line {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 100%;
    height: 3px;
    z-index: 9;
    background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
    transition: 1.2s;
  }
  .main__bottom-line {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    width: 100%;
    height: 3px;
    z-index: 99;
    background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
    transition: 1.2s;
  }
  .main__gradient {
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 9;
    background: linear-gradient(to bottom, transparent 0%, #090909 100%);
  }
  .main__arrow--down {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 42px;
    height: 42px;
    background: url(../Image/down-arrow.png);
    animation: up-and-down 2s linear infinite;
    z-index: 99;
    &.main__arrow--down-black {
      background: url(../Image/down-arrow-black.png);
    }
  }
}

@keyframes up-and-down {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.main__onload--animation {
  width: 100%;
  height: 20px;
  background-color: $primary-color;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  z-index: 9999;
}

.main__onload--animation.main__onload--animation-active {
  animation: onload 0.8s ease-in-out forwards;
}

@keyframes onload {
  0% {
    bottom: 0;
  }
  50% {
    height: 200px;
  }
  100% {
    bottom: 100vh;
    height: 20px;
  }
}

.main__header {
  width: 100%;
  height: 100vh;
  background: url(../Image/main_bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 40px;
  gap: 30px;
  transition: none !important;
  box-sizing: border-box;
  .main__header--image {
    overflow: hidden;
    height: 90%;
    align-self: center;
    img {
      transform: translateY(100%);
      height: 100%;
      opacity: 0;
      transition: 1.2s;
    }
  }
}

.main__header--text {
  color: white;
  width: 70%;
  text-align: center;
  .h1 {
    text-transform: uppercase;
    font-size: 7vw;
    opacity: 0;
    font-family: "Oswald";
  }
  .p {
    font-size: 4vw;
    opacity: 0;
  }
}

.progress-bar {
  width: 5px;
  top: 0;
  right: 0;
  position: fixed;
  background-color: darken($primary-color, 20%);
  z-index: 9999;
  border-radius: 5px;
}

.about {
  height: 100vmax;
  width: 100%;
  background-color: black;
  position: relative;
  .about__gradient {
    height: 90px;
    width: 100%;
    position: absolute;
    z-index: 9;
    &.about__gradient--top {
      top: 0;
      background: linear-gradient(to top, transparent 0%, #090909 100%);
    }
    &.about__gradient--bottom {
      bottom: 0;
      background: linear-gradient(to bottom, transparent 0%, #090909 100%);
    }
  }
}

.about__container {
  width: 100%;
  height: 100%;
  background-color: #010101;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  position: absolute;
  top: 0;
  .about__text {
    grid-column: 1/ 2;
    grid-row: 1/ 3;
    height: 100vh;
    background: url(../Image/text_bg-3.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    color: white;
    font-size: 4vw;
    font-family: "Bebas Neue", cursive;
    box-sizing: border-box;
    .about__text--border {
      height: 100%;
      width: 1px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(to bottom, transparent 0%, #fdfdfd 50%, #fdfdfd 50%, transparent 100%);
    }
  }
  .about__container--one {
    width: 100%;
    height: 100%;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    opacity: 0;
    transition: 2000ms;
    overflow: hidden;
    .about__gradient--bottom {
      bottom: 0;
      background: linear-gradient(to bottom, transparent 0%, #090909 100%);
    }
    img {
      position: absolute;
      width: 100%;
      height: 80%;
      transition: 1s ease-out;
    }
    .about__container--one-text {
      position: absolute;
      bottom: 2%;
      left: 10%;
      width: 100%;
      overflow: hidden;
      p {
        color: white;
        font-size: 4vw;
        font-family: "Oswald", cursive;
        transform: translateX(-100%);
        transition: 1.2s;
      }
      h3 {
        color: white;
        font-size: 6vw;
        font-family: "Bebas Neue", cursive;
        transform: translateX(-100%);
        transition: 1.7s;
      }
    }
    .about__container--one-border-bottom {
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0px;
      z-index: 99;
      background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
    }
  }

  .about__container--two {
    width: 100%;
    height: 100%;
    background: transparent;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    img {
      display: block;
      width: 15vw;
      transition: 1s;
      &:nth-child(1) {
        position: absolute;
        top: 0%;
        left: 10%;
      }
      &:nth-child(2) {
        position: absolute;
        bottom: 0%;
        right: 10%;
      }
    }
    .about__text--container-two {
      width: 100%;
      height: 100%;
      background-color: transparent;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2px;
      .about__box--reveal {
        font-family: "Bebas Neue", cursive;
        color: white;
        overflow: hidden;

        p {
          display: inline-block;
          position: relative;
          z-index: 9;
          transition: 1s;
          transform: translateX(-100%);
        }
        &:nth-child(1) {
          font-size: 2vw;
          margin-left: 10%;
          font-family: "Oswald";
        }
        &:nth-child(2) {
          font-size: 2vw;
          margin-left: 20%;
          font-family: "Oswald";
        }
        &:nth-child(3) {
          font-size: 7vw;
          margin-left: 20%;
        }
        &:nth-child(4) {
          font-size: 2vw;
          margin-left: 25%;
          font-family: "Oswald";
        }
        &:nth-child(5) {
          font-size: 7vw;
          margin-left: 30%;
        }
        &:nth-child(6) {
          font-size: 2vw;
          margin-left: 40%;
          font-family: "Oswald";
        }
        &:nth-child(7) {
          font-size: 7vw;
          margin-left: 30%;
        }
      }
    }
  }
}

.skills {
  width: 100%;
  background-color: black;
  position: relative;
  .skills__gradient--top {
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    background: linear-gradient(to top, transparent 0%, #090909 100%);
  }
  .skills__gradient--bottom {
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 9;
    background: linear-gradient(to bottom, transparent 0%, #090909 100%);
  }
  .skills__container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    .skills__text {
      width: 100%;
      height: 80vh;
      background: url(../Image/text_bg-3.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4vw;
      font-family: "Bebas Neue", cursive;
      color: white;
      position: sticky;
      top: 0;
      .skills__text--border {
        height: 100%;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(to bottom, transparent 0%, #fdfdfd 50%, #fdfdfd 50%, transparent 100%);
      }
    }
    .skills__content {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 100px 5vw;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .skills__border--top {
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0px;
        z-index: 99;
        background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
      }
      .skills__border--bottom {
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0px;
        z-index: 99;
        background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
      }
      .skills__box {
        width: 15vmax;
        height: 15vmax;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        box-sizing: border-box;
        transition: 1s;
        transform: translateY(50%);
        opacity: 0;
        &.skills__box--active {
          transform: translateY(0);
          opacity: 1;
        }
        &:hover img {
          filter: grayscale(0);
          transform: scale(1.1);
          transition: 500ms;
        }
        img {
          display: block;
          width: 50%;
          filter: grayscale(100%);
        }
        p {
          font-size: 2vw;
          color: white;
          font-family: "Oswald", sans-serif;
        }
      }
    }
  }
}

.projects {
  width: 100%;
  position: relative;
  .projects__border--top {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0px;
    z-index: 99;
    background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
  }
  .projects__gradient--top {
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    background: linear-gradient(to top, transparent 0%, #090909 100%);
  }
  .projects__gradient--bottom {
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 9;
    background: linear-gradient(to bottom, transparent 0%, #090909 100%);
  }
  .projects__container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: relative;
    font-size: 4vw;
    box-sizing: border-box;
    font-family: "Bebas Neue", cursive;
    color: white;
    background-color: black;
    .projects__text {
      height: 100vh;
      width: 100%;
      background: url(../Image/text_bg-3.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      position: sticky;
      top: 0;
      .projects__text--border {
        height: 100%;
        width: 1px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(to bottom, transparent 0%, #fdfdfd 50%, #fdfdfd 50%, transparent 100%);
      }
    }
    .projects__content--wrapper {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2em 20px;
      gap: 1em;
    }
    .projects__content--one,
    .projects__content--two,
    .projects__content--three {
      width: 80%;
      display: flex;
      flex-direction: column;
      transition: 1.5s;
      opacity: 0;
      gap: 20px;
      cursor: pointer;
      &:hover {
        img {
          transform: scale(1.1);
          transition: 1s;
        }
      }
      .projects__img {
        position: relative;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          transition: 0.8s;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 10px;
          box-sizing: border-box;
          background-color: rgba(0, 0, 0, 0.4);
          text-decoration: underline;
          font-size: 2vw;
        }
      }
      .projects__line {
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, transparent 0%, #fdfdfd 50%, #fdfdfd 50%, transparent 100%);
      }
    }
    .projects__line--mid {
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
    }
  }
}

.project__active {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

// Project
.close__btn--light {
  background-color: black !important;
}
.project {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  gap: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  transform: translateX(-100%);
  z-index: 99999;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  .project__closebtn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3%;
    top: 3%;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 9999;
    span {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      height: 2px;
      background-color: white;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        position: absolute;
        top: 50%;
        display: block;
        width: 100%;
        height: 2px;
        transform: rotate(-45deg);
      }
    }
  }
  .project__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Bebas Neue", cursive;
    justify-content: center;
    color: white;
    gap: 10px;
    .project__text--box {
      overflow: hidden;
      padding: 5px;
      box-sizing: border-box;
      & > * {
        opacity: 0;
        transform: translateX(-100%);
        transition: 1s;
      }
    }

    h4 {
      font-size: 5vw;
    }
    p {
      font-size: 2vw;
      font-family: "Oswald", sans-serif;
    }
    .project__line--white {
      width: 0%;
      height: 2px;
      background: #fdfdfd;
      transition: 0.6s;
    }
    .project__line--blue {
      width: 100%;
      height: 3px;
      background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
      transition: 1s;
      opacity: 0;
      margin-top: 20px;
    }
  }

  .project__images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    .project__image--box {
      $width: calc(50% - 0.5em);
      width: $width;
      overflow: hidden;
      img {
        width: 100%;
        display: block;
        opacity: 0;
        transform: translateY(100%);
        transition: 1.2s;
      }
    }
  }
}

footer {
  width: 100%;
  position: relative;
  background-color: black;
  img {
    display: block;
  }
  .footer__gradient--top {
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    background: linear-gradient(to top, transparent 0%, #090909 100%);
  }
  .footer__line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent 0%, #000875 45%, #000875 55%, transparent 100%);
    position: absolute;
    bottom: 102px;
    z-index: 99;
  }
}
.footer__gradient--bottom {
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 100px;
  z-index: 9;
  background: linear-gradient(to bottom, transparent 0%, #090909 100%);
}
.footer__img {
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
    transition: 4s ease-out;
  }
}
.footer__contact {
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 9;
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
  .footer__copyright {
    color: white;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Oswald", Courier, monospace;
    opacity: 0;
    transition: 3s;
  }

  .footer__contact--box {
    max-width: 60px;
    overflow: hidden;
    padding: 2px;
    box-sizing: border-box;
    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: translateY(100%);
      transition: 1s;
      &:hover img {
        transition: 0.4s;
        filter: none;
      }
      p {
        color: white;
        text-align: center;
        font-family: "Oswald";
      }
      img {
        filter: grayscale(100%);
        display: block;
        max-height: 27px;
        max-width: 27px;
      }
    }
  }
}

[data-bgtheme="light"] {
  background: none !important;
  background-color: white !important;
  background: url(../Image/light-bg.jpeg) !important;
}

[data-txttheme="light"] {
  color: #001a33 !important;
}

[data-gradient="light"] {
  background: none !important;
}

[data-border="light"] {
  background: linear-gradient(to bottom, transparent 0%, black 50%, black 50%, transparent 100%) !important;
}
// Media queries

@media (max-width: 768.59px) {
  .main__header {
    flex-direction: column;
  }
  .main__header--text {
    width: 100%;
    text-align: center;
    .h1 {
      font-size: 3em;
    }
    .p {
      font-size: 1.5em;
    }
  }
  .skills__box {
    p {
      font-size: 1em !important;
    }
  }
}

@media (max-width: 575.98px) {
  .main__header {
    justify-content: center;
    .main__header--image {
      height: 70%;
    }
  }
  .about {
    height: 100vmax;
    .about__gradient {
      height: 45px;
    }
  }
  .about__container {
    grid-template-columns: 10% 1fr;
    .about__container--one {
      .about__container--one-text {
        p {
          font-size: 1.8em;
        }
        h3 {
          font-size: 3em;
        }
      }
    }

    .about__text {
      h2 {
        transform: rotate(-90deg);
      }
    }
    .about__container--two {
      img {
        width: 28vw;
      }
      .about__text--container-two {
        .about__box--reveal {
          &:nth-child(1) {
            font-size: 4vw;
            margin-left: 10%;
          }
          &:nth-child(2) {
            font-size: 4vw;
            margin-left: 20%;
          }
          &:nth-child(3) {
            font-size: 10vw;
            margin-left: 20%;
          }
          &:nth-child(4) {
            font-size: 4vw;
            margin-left: 25%;
          }
          &:nth-child(5) {
            font-size: 10vw;
            margin-left: 30%;
          }
          &:nth-child(6) {
            font-size: 4vw;
            margin-left: 40%;
          }
          &:nth-child(7) {
            font-size: 10vw;
            margin-left: 30%;
          }
        }
      }
    }
  }

  .skills {
    .skills__container {
      .skills__content {
        gap: 10px;
        padding: 50px 20px;
        .skills__box {
          height: 15%;
          width: 30%;
          img {
            display: block;
            width: 50px;
            height: 50px;
          }
          p {
            font-size: 1em !important;
          }
        }
      }
      grid-template-columns: 10% 1fr;
      .skills__text {
        h2 {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .projects {
    .projects__container {
      grid-template-columns: 10% 1fr;
      .projects__content--wrapper {
        padding: 0;
        .projects__content {
          gap: 10px !important;
        }
      }
      .projects__text {
        h2 {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .project {
    padding: 25px;
    .project__text {
      .project__text--box {
        h4 {
          font-size: 1.35rem;
        }
        p {
          font-size: 0.85rem;
        }
      }
    }
  }
  .project__image--box {
    width: 100% !important;
    height: 40vw !important;
  }

  footer {
    .footer__contact {
      .footer__copyright {
        display: none;
      }
      gap: 1em;
      padding: 0 10px;
    }
  }

  .theme__toggle {
    left: 0px;
    position: absolute;
  }
}
